.number-input {
  width: 150px;
  height: 30px;
  margin: 0 10px;

  border: #000000 solid 1px;
  border-radius: 3px;

  background-color: #e1e8e9;
  font-family: inherit;
  font-size: 1em;
  outline-width: 0;
}
