.content {
  display: grid;
  grid-template-areas:
    'news news ad1'
    'search search search'
    'ad2 ad2 ad2'
    'col1 col2 col3';
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: repeat(4, fit-content(100%));
}

.content__search-bar {
  grid-area: search;
}
.content__section-news {
  grid-area: news;
}
.content__column1 {
  grid-area: col1;
}
.content__column2 {
  grid-area: col2;
}
.content__column3 {
  grid-area: col3;
}

.content__ad1 {
  grid-area: ad1;
}

.content__ad2 {
  grid-area: ad2;
}
