.section-vaccine {
  display: none;

  width: 500px;
  height: 200px;

  box-shadow: 0 0 5px 1px #000000;
}

.section-vaccine__header {
  margin: 10px 0;

  text-align: center;
}

.section-vaccine__list-item {
  margin: 5px 0;
}
